:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --whiter-color: #eeeeee;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    /* color: var(--accent2-color); */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* opacity: 0.6; */
    background-color: color-mix(in srgb, var(--accent1-color), transparent 60%);
    color: var(--whiter-color);
    text-shadow: 1px 1px 2px var(--secondary-color);
    font-weight: bold;
}

article {
    border-radius: 10px;
}

.hero article {
    position: absolute;
    bottom: 5px;
    left: 20px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: color-mix(in srgb, var(--accent1-color), transparent 25%);
}

.hero p {
    /* background-color: var(--accent1-color); */
    color: var(--whiter-color);
    font-weight: bold;
}

.hero article img {
    float: right;
    width: 140px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--whiter-color);
    text-decoration: none;
    font-weight: bold;
}

header img {
    width: 120px;
    height: auto;
    padding-left: 20px;
}

.history-class {
    display: flex;
    padding: 0;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
}

.figure-class {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.figure-class figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.figure-class img {
    width: 75%;
    height: 55%;
    margin: 20px 0;
    border-radius: 10px;

}

.figure-class figcaption {
    width: 60%;
    font-size: 13px;
    text-align: center;
    margin-top: 0;

}