:root {
    --primary-color: #052305;
    --secondary-color: #f4a261;
    --whiter-color: #fff8f8;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", Serif;
    --body-font: Arial, Helvetica, sans-serif;
    --background-faded: color-mix(in srgb, var(--accent1-color), transparent 90%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    background-color: var(--primary-color);
    color: var(--whiter-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
    /* background-color: color-mix(in srgb, var(--accent1-color), transparent 100%); */
    background: linear-gradient(to right, transparent 0%,
            var(--background-faded)35%, var(--background-faded)85%, transparent 100%);
    color: var(--whiter-color);
    text-shadow: 1px 1px 2px var(--secondary-color);
    font-weight: bold;
}

.hero article {
    border-radius: 10px;
    position: absolute;
    width: 780px;
    bottom: 5px;
    left: 5px;
    background: linear-gradient(to right, to bottom, transparent 0%,
            var(--background-faded)15%, var(--background-faded)70%, transparent 100%);
    /* mask-image: linear-gradient(to right, transparent 0%, black 50%, black 70%, transparent 100%); */
}

article img {
    mask-image: linear-gradient(to bottom,
            black 60%, transparent 100%);
    mask-image: radial-gradient(circle,
            black 60%, transparent 100%);
}

.hero p {
    color: var(--primary-color);
    font-weight: bold;
    padding-top: 60px;
}

.hero article img {
    float: right;
    width: 140px;
    border-radius: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav a {
    color: var(--whiter-color);
    text-decoration: none;
    font-weight: bold;
}

header img {
    width: 120px;
    height: auto;
    padding-left: 20px;
}

.history-class {
    display: flex;
    padding: 0;
    gap: 10px;
}

.para-2 {
    text-align: right;
}

footer {
    background-color: var(--primary-color);
    color: var(--whiter-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin: 10px auto 0;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 40px;
}

.figure-class {
    max-width: 840px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.figure-class figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.figure-class img {
    width: 75%;
    /* height: 60%;
    max-height: 45%; */
    aspect-ratio: 4 / 3;
    margin: 20px 0;
    border-radius: 10px;
    transition: transform 0.5s;

}

.figure-class img:hover {
    transform: scale(1.10);
}

.figure-class figcaption {
    width: 60%;
    font-size: 13px;
    text-align: center;
    margin-top: 0;

}

/* additional styling for contact page  */

fieldset {
    display: grid;
    gap: 10px;
    margin: 5px 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

label {
    padding: 0 5px;
}

.contact-info p {
    margin: 0;
    padding: 2px 0;
    line-height: 1.2;
}

input,
select,
textarea {
    padding: 0 5px;
    font-size: large;
}

input[type="checkbox"] {
    display: flex;
    width: 20px;
    height: 30px;
    font-size: larger;
    vertical-align: bottom;
    gap: 5px;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color: white;
    cursor: pointer;
    /* margin: 0; */
}

/* input[type="browser"] {
    display: grid;
    grid-template-columns: 1fr auto;
} */

button {
    background-color: rgb(50, 50, 117);
    margin: 0 auto;
    width: 100px;
    height: 30px;
    color: var(--whiter-color);
    border-radius: 10px;
}

button:hover {
    background-color: darkred;
}

.form-item {
    display: grid;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5px;
}

.column1 {
    grid-template-columns: 1fr auto;

}

textarea {
    border-radius: 5px;
    width: 97%;
    margin: 0 auto;
}

.contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: stretch;
    /* height: auto; */
    max-width: 840px;
    margin: 0 auto;
    /* padding: 30px; */
}

.contact-content iframe {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.form-container {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0px;
}

form {
    background-color: #eee;
    border: 1px solid black;
    border-top: none;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, transparent 0%,
            var(--background-faded)15%, var(--background-faded)50%, var(--background-faded)70%);
}

.contact-info {
    text-align: center;
    grid-column: 1/3;
}

.employee-content {
    margin-top: 100px;
}

/* home styling */

.home {
    position: relative;
}

.home img {
    width: 840px;
    height: 70vh;
    mask-image: linear-gradient(to bottom,
            black 70%, transparent 95%);
}

.home h1 {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 2.5rem;
    padding: 20px 0;
    background: linear-gradient(to right, to bottom, transparent 0%,
            var(--background-faded)35%, var(--background-faded)70%, transparent 100%);
    /* text-align: center; */
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(222 111 111);
    letter-spacing: 1px;
    width: 100%;
    margin: 20px auto;
}

table caption {
    font-size: 1.5rem;
    /* text-align: center; */
    padding: 1rem;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(150 150 150);
    padding: 12px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: var(--primary-color);
    color: var(--whiter-color);
    font-weight: 700;
}

thead tr:hover,
tfoot tr:hover {
    background-color: brown;
    color: aqua;
}

.action-sect {
    margin: 0 auto;
}

.action-sect p {
    font-size: 1.5rem;
    text-align: center;
}

.action-sect a {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
    transition: transform 0.4s;
    font-size: 2rem;
    font-weight: bold;
}

.action-sect a:hover {
    transform: scale(1.05);
}

tfoot a {
    text-decoration: none;
    color: var(--whiter-color);
    margin-left: 30px;
}